.card {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
  margin-right: 50px;
  margin-bottom: 25px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
