.container {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
}

.heading {
  margin: 20px;
}

.heading-centered {
  text-align: center;
  font-weight: normal;
  margin: 0;
}

.text-muted {
  text-align: center;
  font-weight: normal;
  color: #6c757d;
  margin: 0;
}

.profile {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
  width: 24vw;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: center;
}

.card-title {
  font-weight: bold;
  font-size: large;
}

.card-body {
  padding: 10px;
}

.no-space {
  margin: 0;
}

.action-row {
  display: flex;
  justify-content: end;
  margin-right: 50px;
}

.spinner {
  border: 5px solid lightgray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-left-color: black;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .profile {
    width: 100%;
  }
}

.search-btn {
  width: 40px;
  border: 1px solid transparent;
  background: transparent
    url("https://s3.eu-central-1.amazonaws.com/napptilus/level-test/imgs/ic_search.png")
    no-repeat center;
  background-size: 50%;
  cursor: pointer;
  opacity: 0.7;
  border-left: 1px solid lightgray;
}

.search-btn:hover {
  opacity: 1;
}

.search-form {
  color: lightgray;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 25px;
}

.search-bar {
  border: none;
  background: transparent;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-right: 1px lightgray;
}
.search-btn:focus,
.search-bar:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
